body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: #373738;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    background-color: black;
}
nav {
    width: 100%;
    padding: 1%;
}
ul {
    float: right;
    width: 20%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.content img {
    border-radius: 3%;
}
footer {
    background-color:#373738;
    padding: 1%;
}
footer ul {
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    /* display: flex;
    justify-content: center; */
}